node_modules/

.env*
!.env.example

yarn-error.log

cache/
artifacts/*
!artifacts/build-info/
!artifacts/contracts/
!artifacts/imports/

.idea
.temp/

coverage*
.coverage*
smartcheck*
flattened*
docs/

hardhat.config.last.json

.mnemonic_*
